@import 'sass/typography';
$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

//Bootstrap overrides and extensions
@import 'sass/overrides';
@import 'sass/extensions';

//Layout Styles
@import 'sass/layout';
@import 'sass/affixes';
@import 'sass/carousels';
@import 'sass/headerbar';
@import 'sass/header-contacts';
@import 'sass/header-menu';
@import 'sass/mainpromo';
@import 'sass/latest-news';
@import 'sass/invitation-block';
@import 'sass/company-info';
@import 'sass/mainfooter';
@import 'sass/back-to-top';

//Inner pages
@import 'sass/menusidebar';
@import 'sass/primarycontent';
@import 'sass/utilitysidebar';

//Components
@import 'sass/breadcrumbs';
@import 'sass/tagcloud';
@import 'sass/accordion';
@import 'sass/newslist';
@import 'sass/pagination';
@import 'sass/gmaps';
@import 'sass/contacts';

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}