.accordion-content {
    margin-top: 40px;
    
    .accordion-pane {
        max-height: 20px;
        margin-bottom: 10px;
        overflow: hidden;
        transition: max-height 1s ease, margin-bottom 1s ease;
        
        &:first-child {
            h2 {
                margin-top: 0;
            }
        }
        
        h2 {
            background-color: $brand-danger;
            color: $gray-lighter;
            margin: 0;
            cursor: pointer;
            transition: margin 1s ease;
            
            &:hover {
                background-color: transparent;
                color: $gray-base;
            }
            
            &.icon-courses {
                &:hover {
                    &:before {
                        background-position: -221px 0;
                    }
                }
            }

            &.icon-medicine {
                &:hover {
                    &:before {
                        background-position: -238px 0;
                    }
                }
            }

            &.icon-sport {
                &:hover {
                    &:before {
                        background-position: -203px 0;
                    }
                }
            }

            &.icon-fest {
                &:hover {
                    &:before {
                        background-position: -203px -18px;
                    }
                }
            }

            &.icon-bonus {
                &:hover {
                    &:before {
                        background-position: -222px -18px;
                    }
                }
            }
        }
        
        &.active {
            height: auto;
            max-height: 500px;
            margin-bottom: 0;
            
            &:first-child {
                h2 {
                    margin-top: 0;
                }
            }
            
            h2 {
                background-color: transparent;
                color: $gray-base;
                margin: 40px 0 28px;
                
                &.icon-courses {
                    &:before {
                        background-position: -221px 0;
                    }
                }

                &.icon-medicine {
                    &:before {
                        background-position: -238px 0;
                    }
                }

                &.icon-sport {
                    &:before {
                        background-position: -203px 0;
                    }
                }

                &.icon-fest {
                    &:before {
                        background-position: -203px -18px;
                    }
                }

                &.icon-bonus {
                    &:before {
                        background-position: -222px -18px;
                    }
                }
            }
        }
    }
}