body {
    &.affixes {
        
        .headerbar-logo {
            left: 0;
        }
        
        .headerbar-form {
            left: 0;
        }
        
        .headerbar-contacts {
            top: 2px;
        }
        
        .headerbar-menu {
            top: 50px;
        }
        
        .header-menu {
            left: 50%;
            top: 51px;
            margin: 0 0 0 -480px;
        }
        
        .main-content,
        .main-content-inner {
            margin-top: 83px;
        }
        
        .back-to-top-wrapper {
            left: 0;
            
            &:hover {
                background-color: $gray-light;
                cursor: pointer;
            }
        }
        
        .back-to-top {
            bottom: 10%;
        }
        
    }
}