.back-to-top-wrapper {
    background-color: transparent;
    position: fixed;
    height: 100%;
    width: 120px;
    left: -120px;
    top: 0;
}

.back-to-top {
    background-color: #fff;
    position: fixed;
    left: 1%;
    bottom: -10%;
    @include square(50px);
    box-shadow: 0 2px 2px rgba(0,0,0,.3);
    cursor: pointer;
    transition: bottom 1s ease, box-shadow 0.3s ease;
    
    &:after {
        content: '';
        background-image: $sprite;
        background-position: -181px 0;
        display: block;
        position: absolute;
        width: 20px;
        height: 22px;
        bottom: 14px;
        left: 15px;
    }
    
    &:hover {
        box-shadow: none;
    }
}