.content-header {
    .breadcrumbs {

        ul {
            li {
                &:before {
                    color: $gray-lighter;
                }

                a {
                    color: $gray-lighter;
                }
            }
        }
    }
}

.breadcrumbs {
        position: relative;
        z-index: 1;

        ul {
            li {
                position: relative;
                margin: 0 20px 0 0;

                &:first-child {
                    &:before {
                        content: '';
                    }
                }

                &:last-child {
                    a {
                        text-decoration: none;
                        cursor: default;
                    }
                }

                &:before {
                    content: '\2014';
                    color: $gray;
                    position: absolute;
                    left: -18px;
                }

                a {
                    color: $gray;
                    text-decoration: underline;

                    &:hover {
                        text-decoration: none;
                    }
                }
            }
        }
    }