.carousel-indicators {
    position: absolute;
    width: auto;
    top: -7px;
    right: 0;
    left: auto;
    margin: 0;
    
    li {
        background-color: #e5e5e5;
        @include square(7px);
        margin: 0 0 0 12px;
        border: none;
        border-radius: 0;
        
        &:hover {
            background-color: $brand-danger;
        }
        
        &.active {
            background-color: #707676;
            width: 7px;
            height: 7px;
            margin: 0 0 0 12px;
        }
    }
}

#latest-news-carousel {
    position: absolute;
    height: 50px;
    width: 940px;
    top: 30px;
    
    .carousel-inner {
        height: 50px;
    }
    
    .item {
        position: absolute;
        height: 50px;
        width: 100%;
        
        .carousel-caption {
            float: left;
            position: absolute;
            width: 100%;
            height: 100%;
            bottom: 0;
            left: 0;
            
            h3 {
                text-transform: none;
                text-shadow: none;
                position: absolute;
                left: 0;
                bottom: 0;
                margin: 0;
                padding: 0;
            }
            
            p.time {
                color: #6f7575;
                text-shadow: none;
                position: absolute;
                right: 0;
                bottom: 0;
                margin: 0;
                padding: 0;
            }
        }
    }
}

.vacancy-carousel-wrapper {
    position: relative;
    margin: {
        top: 30px;
    }
    
    h2 {
        position: relative;
        float: left;
        z-index: 500;
    }
}

#vacancy-carousel {
    top: 23px;
    
    .carousel-inner {
        position: absolute;
        height: 130px;
        top: 50px;
    }
    
    .item {
        height: 95px;
        
        .carousel-caption {
            text-align: left;
            width: 100%;
            top: 0;
            left: 0;
            padding: 0;
            
            h3 {
                text-transform: none;
                text-shadow: none;
            }
            
            p {
                color: $gray-base;
                text-shadow: none;
            }
        }
    }
    
    .vacancy-list-main {
        li {
            vertical-align: top;
            position: relative;
            width: 190px;
            margin: {
                bottom: 17px;
            }
            padding: {
                left: 24px;
            }
            
            &:nth-child(odd){
                margin: {
                    right: 50px;
                }
            }
            
            &:before {
                content: '';
                background-image: $sprite;
                background-position: -61px 0;
                position: absolute;
                display: block;
                @include square(10px);
                top: 4px;
                left: 6px;
            }
            
            h3 {
                margin: 0;
            }
        }
    }
}

.success-carousel-wrapper {
    position: relative;
    
    .carousel-indicators {
        top: -35px;
    }
}

#success-carousel {
    .item {
        h3 {
            text-transform: none;
        }
        
        p {
            line-height: normal;
        }
    }
}

.clients-carousel-slider-wrapper {
    position: relative;
    margin: 30px 0 20px;
    
    .jcarousel-prev, .jcarousel-next {
        background-image: $sprite;
        background-position: -118px 0;
        display: block;
        position: absolute;
        width: 9px;
        height: 16px;
        left: 0;
        top: 10px;
    }
    
    .jcarousel-next {
        background-position: -130px 0;
        left: auto;
        right: 0;
    }
}

.clients-carousel {
    position: relative;
    overflow: hidden;
    width: 925px;
    
    ul {
        width: 20000em;
        position: relative;
        list-style: none;
        margin: 0;
        padding: 0;
        
        li {
            float: left;
            width: 182px;
            padding: 0 16px;
        }
    }
}