.managers {
    li {
        vertical-align: top;
        width: 210px;
        padding: 0;
        margin-left: 23px;

        &:first-child {
            margin-left: 0;
        }
    }
}


.manager-info {
    color: $gray-base;
    
    .name {
        font-weight: bold;
        margin: 15px  0 0;
    }
    
    .position {
        line-height: 1;
        font-style: italic;
        margin: 0 0 15px 0;
    }
}

.feedbacks {
    li {
        vertical-align: top;
        width: 210px;
        padding: 0;
        margin-left: 17px;

        &:first-child {
            margin-left: 0;
        }
    }
}

.feedback-info {
    color: $gray-base;
    
    .name {
        font-weight: bold;
        margin: 20px  0 0;
    }
    
    .position {
        line-height: 1;
        font-style: italic;
        margin: 0 0 15px 0;
    }
    
    img {
        border: 2px solid $gray-light;
    }
}

.products {
    width: 436px;
    margin: {
        top: 12px;
    }
}

.product-items-wrapper {
    .product-item {
        width: 180px;
        margin-bottom: 23px;
        padding: 0;

        &:nth-child(odd){
            margin-right: 50px;
        }

        .product-icon {
            float: left;
            margin: {
                right: 10px;
            }
        }

        .product-intro {
            float: left;
            width: 138px;
            
            h3 {
                margin: 0 0 5px 0;
            }
            
            p {
                font-size: 13px / $font-size-base * 1em;
                line-height: 15px;
            }
        }
    }
}

.awards-list {
    li {
        margin-left: 19px;
        
        &:first-child {
            margin-left: 0;
        }
    }
}