.contact-items {
    @include make-row();
}

.contact-item {
    @include make-xs-column(4);
    min-height: 225px;
    
    p {
        font-size: 13px / $font-size-base * 1em;
        line-height: 1;
        
        &.directions {
            color: $brand-danger;
            position: relative;
            padding-left: 20px;
            cursor: pointer;
            
            &:hover {
                text-decoration: underline;
            }
            
            &:before {
                content: '';
                background-image: $sprite;
                background-position: -264px -56px;
                display: block;
                position: absolute;
                @include square(16px);
                left: 0;
                top: 0;
            }
        }
    }
    
    a[href*=mailto]{
        color: $gray-base;
        text-decoration: underline;
        
        &:hover {
            text-decoration: none;
        }
    }
}