.bg-danger {
    color: $gray-lighter;
}

a.bg-danger {
    padding: 0 3px;
    
    &:hover {
        color: $gray-light;
        text-decoration: none;
    }
}

.bg-primary {
    color: $gray;
}

h1 {
    font-weight: 600;
}

h2, h3 {
    font-weight: 700;
    
    small {
        font-weight: bold;
        position: relative;
        top: -2px;
    }
}

h1, h2 {
    text-transform: uppercase;
}

h4,h5,h6 {
    font-weight: normal;
}

h2 {
    &.iconed {
        position: relative;
        padding: {
            left: 21px;
        }
        
        &:before {
            content: '';
            background-image: $sprite;
            display: block;
            position: absolute;
            @include square(16px);
            left: 0;
            top: 2px;
        }
    }
    
    &.icon-courses {
        &:before {
            background-position: -281px 0;
        }
    }
    
    &.icon-medicine {
        &:before {
            background-position: -299px 0;
        }
    }
    
    &.icon-sport {
        &:before {
            background-position: -263px 0;
        }
    }
    
    &.icon-fest {
        &:before {
            background-position: -263px -18px;
        }
    }
    
    &.icon-bonus {
        &:before {
            background-position: -282px -18px;
        }
    }
    
    &.icon-facts {
        &:before {
            background-position: -300px -18px;
        }
    }
    
    &.icon-tech {
        &:before {
            background-position: -264px -36px;
        }
    }
}


.btn-question {
    position: relative;
    padding-left: 40px;
    
    &:before {
        content: '';
        background: {
            image: $sprite;
            position: 0 0;
            repeat: no-repeat;
        }
        position: absolute;
        display: block;
        width: 16px;
        height: 14px;
        top: 50%;
        left: 17px;
        margin: -7px 0 0 0;
    }
}

.utility-sidebar {
    .btn-file {
        margin-bottom: 20px;
    }
}

.btn-file {
    text-align: left;
    position: relative;
    min-width: 170px;
    
    &:after {
        content: '';
        background-image: $sprite;
        background-position: -142px 0;
        display: block;
        position: absolute;
        width: 16px;
        height: 15px;
        right: 10px;
        top: 7px;
    }
}

.no-padding {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.no-padding-left {
    padding-left: 0 !important;
}

.no-padding-right {
    padding-right: 0 !important;
}

.relative {
    position: relative;
}

.border-bottom {
    border: {
        bottom: 1px solid $gray;
    }
}

ul.default {
    list-style: none;
    margin: 15px 0 0 0;
    padding: 0;
    
    li {
        font-size: 13px / $font-size-base * 1em;
        text-indent: 16px;
        line-height: 1;
        position: relative;
        margin-bottom: 19px;
        
        &:before {
            content: '\2014';
            position: absolute;
            left: -16px;
        }
    }
}

ul.default-inline {
    @include make-row();
    
    list-style: none;
    margin: 15px 0 0 0;
    padding: 0;
    
    &.cols4 {
        li {
            @include make-xs-column(3);
            padding-left: 0;
        }
    }
    
    li {
        @include make-xs-column(6);
        
        font-size: 13px / $font-size-base * 1em;
        text-indent: 16px;
        line-height: 1;
        position: relative;
        margin-bottom: 19px;
        padding-left: 0;
        
        &:before {
            content: '\2014';
            position: absolute;
            left: -16px;
        }
    }
}

.jumbotron {
    color: #c4c4c4;
    background-image: url(../images/jumbotronbg.png);
    margin-top: 30px;
    padding: 29px 22px;
    
    &.light {
        color: $gray;
        background-image: none;
        
        h2 {
            color: $gray-base;
        }
        
        h3 {
            color: $gray;
        }
        
        p {
            color: $gray;
        }
    }
    
    h2 {
        color: $gray-lighter;
        margin-top: 0;
        margin-bottom: 28px;
    }
    
    h3 {
        color: #c4c4c4;
    }
    
    p {
        color: #c4c4c4;
    }
}