.headerbar {
    background-image: url(../images/headerbarbg.png);
    background-repeat: repeat-x;
    background-position: 0 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 51px;
    padding-top: 10px;
    overflow: hidden;
    z-index: 1000;
    
    .container {
        overflow: hidden;
    }
}

.headerbar-logo {
    float: left;
    position: relative;
    left: -152px;
    margin: 0 30px 0 0;
    transition: left 1s ease;
}

.headerbar-form {
    float: left;
    position: relative;
    left: -152px;
    transition: left 1s ease;
    
    input {
        width: 220px;
    }
    
    button {
        background-color: transparent;
        background-image: $sprite;
        background-position: -160px 0;
        position: absolute;
        width: 18px;
        height: 18px;
        top: 8px;
        right: -28px;
        border: none;
    }
}

.headerbar-contacts {
    position: absolute;
    top: -50px;
    transition: top 1s ease;
    
    a {
        color: #6f7575;
        line-height: 1;
        font-weight: bold;
        text-transform: uppercase;
        display: block;
        position: relative;
        padding: 0 0 0 14px;
        
        &.phone {
            &:before {
                content: '';
                background-image: url(../images/sprite.png);
                background-position: -33px 0;
                display: block;
                position: absolute;
                width: 10px;
                height: 10px;
                top: 50%;
                left: 0;
                margin: -5px 0 0 0;
            }
        }
        
        &.mail{
            &:before {
                content: '';
                background-image: url(../images/sprite.png);
                background-position: -47px 0;
                display: block;
                position: absolute;
                width: 10px;
                height: 10px;
                top: 50%;
                left: 0;
                margin: -5px 0 0 0;
            }
        }
    }
}

.headerbar-menu {
    display: inline-block;
    position: relative;
    vertical-align: top;
    margin: 5px 29px 0 -5px;
    top: 0;
    z-index: 1000;
    transition: top 1s ease;
    
    li {
        a {
            font-size: 12px / $font-size-base * 1em;
        }
    }
}

.switch-lang {
    display: inline-block;
    vertical-align: top;
    margin: 0 0 0 12px;
    
    li {
        background-color: rgba(214, 214, 214, 0.5);
        padding: 4px 9px;
        
        &.active {
            background: none;
            
            a {
                color: $link-color;
            }
        }
        
        a {
            color: #888d8d;
            font-size: 12px / $font-size-base * 1em;
        }
    }
}