.header-menu {
    background-color: white;
    z-index: 2000;

    > .container {
        padding-top: 8px;
    }
}

.menu-container {
    position: relative;
}

.mainmenu {
    position: relative;
    
    > li {
        position: relative;
        z-index: 2000;
        
        &:first-child {
            > a {
                padding-left: 10px;
            }
        }
        
        &:hover, &.hover {
            background-color: $gray-lighter;
            z-index: 2000;
            box-shadow: 0 -3px 4px rgba(0,0,0,.3);
            
            > a {
                &:after {
                    background-position: -20px -5px;
                }
            }
        }
        
        > a {
            font-size: 18px / $font-size-base * 1em;
            display: block;
            position: relative;
            padding: 20px 27px 20px 17px;
            text-transform: uppercase;
            
            
            
            &:after {
                content: '';
                background-image: $sprite;
                background-position: -20px 0;
                display: block;
                position: absolute;
                width: 6px;
                height: 3px;
                top: 50%;
                right: 15px;
                margin: -1px 0 0 0;
            }
        }
    }
}

.submenu {
    background-color: $gray-lighter;
    position: absolute;
    left: 0;
    right: 0;
    top: 63px;
    display: none;
    padding: 27px 20px;
    z-index: 1000;
    box-shadow: 0 1px 4px rgba(0,0,0,.3);
    
    &:hover {
        display: block;
    }

    
    li {
        vertical-align: top;
        position: relative;
        width: 210px;
        margin: {
            right: 14px;
            bottom: 20px;
        }
        padding: {
            left: 20px;
        }
        
        &:before {
            content: '\2014';
            color: $brand-danger;
            position: absolute;
            left: 0;
        }
        
        a {
            font-size: 13px / $font-size-base * 1em;
            position: relative;
            
            
        }
    }
    
    &_expanded {
        display: block;
    }
}