.header-contacts {
    padding-top: 27px;
    
    > .container {
        padding-bottom: 29px;
        border-bottom: 1px solid #ededed;
    }
}

.header-contacts-items {
    > div {
        display: inline-block;
        vertical-align: top;
    }
}

.header-contact {
    margin-top: 17px;
    
    &.phone {
        margin: {
            left: 30px;
            right: 45px;
        }
        
        p {
            &:first-child {
                &:before {
                    background-position: -33px 0;
                }
            }
        }
    }
    
    &.mail {
        p {
            &:first-child {
                &:before {
                    background-position: -47px 0;
                }
            }
        }
    }
    p {
        font-style: italic;
        text-transform: uppercase;
        position: relative;
        margin: 0;
        
        &:first-child {
            line-height: 1;
            text-indent: 11px;
            
            &:before {
                content: '';
                background-image: $sprite;
                display: block;
                position: absolute;
                @include square(10px);
                top: 50%;
                left: 0;
                margin: -5px 0 0 0;
            }
        }
    }
    
    a {
        color: #6f7575;
        font-size: 18px / $font-size-base * 1em;
        font-weight: bold;
    }
}

.hc-social {
    margin: {
        top: 12px;
    }
    
    ul {
        li {
            background-color: #e5e5e5;
            background-image: $sprite;
            @include square(40px);
            margin-left: 10px;
            padding: {
                left: 0;
                right: 0;
            }
            transition: background-color 0.8s ease;
            
            &.fb {
                background-position: -40px -16px;
                &:hover {
                    background-color: #5d82d1;
                }
            }
            &.vk {
                background-position: 0 -16px;
                &:hover {
                    background-color: #6ca4c7;
                }
            }
            &.li {
                background-position: -80px -16px;
                &:hover {
                    background-color: #5da1d1;
                }
            }
            &.tw {
                background-position: -120px -16px;
                &:hover {
                    background-color: #40bff5;
                }
            }
            
            a {
                display: block;
                width: 100%;
                height: 100%;
            }
        }
    }
}