.mainpromo {
    background-image: url(../images/mainpromobg.jpg);
    height: 300px;
    width: 940px;
    
    h2 {
        a {
            color: $gray-base;
            text-decoration: none;
            
            &:hover {
                color: $brand-danger;
            }
        }
    }
}

.promo-item {
    position: relative;
    height: 100%;
    padding-top: 135px;
    border: {
        right: 1px solid #ececec;
    }
    
    &:hover {
        p {
            color: $gray-base;
        }
    }
    
    &.promo-finance {
        h2 {
            a {
                &:before {
                    background-position: -2px -56px;
                }
                
                &:hover {
                    &:before {
                        background-position: -2px -122px;
                    }
                }
            }
        } 
    }
    
    &.promo-web {
        h2 {
            a {
                &:before {
                    background-position: -68px -56px;
                }
                
                &:hover {
                    &:before {
                        background-position: -68px -122px;
                    }
                }
            }
        }
    }
    
    &.promo-order {
        h2 {
            a {
                &:before {
                    background-position: -132px -56px;
                }
                
                &:hover {
                    &:before {
                        background-position: -132px -122px;
                    }
                }
            }
        }
    }
    
    &.promo-mobile {
        h2 {
            a {
                &:before {
                    background-position: -198px -56px;
                }
                
                &:hover {
                    &:before {
                        background-position: -198px -122px;
                    }
                }
            }
        }
    }
    
    h2 {
        a {
            &:before {
                content: '';
                background-image: $sprite;
                background-repeat: no-repeat;
                position: absolute;
                display: block;
                @include square(64px);
                top: 44px;
                left: 50%;
                margin: 0 0 0 -32px;
            }
        }
    }
    
    
    
    &:last-child {
        border: none;
    }
    
    h2 {
        margin: {
            top: 0;
        }
    }
    
    p {
        line-height: normal;
        padding: 0 20px 0 36px;
    }
}

