.mainfooter {
    margin-top: 57px;
}

.footer-links {
    background-color: $gray-light;
    padding: 18px 0 38px;
}

.footermenu {
    margin: 0 29px 0 0;
    
    &:last-child {
        margin-right: 0;
    }
    
    h3 {
        margin-bottom: 23px;
    }
    
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        
        li {
            line-height: 1;
            margin: 0 0 20px 0;
            padding: 0;
            
            &:last-child {
                margin-bottom: 0;
            }
            
            a {
                font-size: 12px / $font-size-base * 1em;
            }
        }
    }
}

.footer-copyrights {
    background-color: $gray-base;
    padding: 30px 0 22px;
    
    p.copyrights {
        color: $gray-light;
        font-size: 12px / $font-size-base * 1em;
        
        a {
            color: $gray-light;
            text-decoration: underline;
            
            &:hover {
                text-decoration: none;
            }
        }
    }
}

.copyrights-menu {
    display: inline-block;
    vertical-align: top;
    margin: 0 27px 0 15px;
    
    ul {
        padding: {
            top: 5px;
        }
        
        li {
            a {
                color: $gray-light; 
                text-decoration: underline;
                
                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
}

.footer-social {
    display: inline-block;
    vertical-align: top;
    
    ul {
        li {
            background-image: $sprite;
            @include square(27px);
            margin: 0 0 0 5px;
            padding: 0;
            transition: background-color 0.8s ease;
            
            &:first-child {
                margin-left: 0;
            }
            
            &.vk {
                background-color: #6ca4c7;
                background-position: -7px -23px;
                
                &:hover {
                    background-color: darken(#6ca4c7, 20%);
                }
            }
            
            &.fb {
                background-color: #5d82d1;
                background-position: -47px -22px;
                
                &:hover {
                    background-color: darken(#5d82d1, 20%);
                }
            }
            
            &.li {
                background-color: #5da1d1;
                background-position: -87px -24px;
                
                &:hover {
                    background-color: darken(#5da1d1, 20%);
                }
            }
            
            &.tw {
                background-color: #40bff5;
                background-position: -127px -21px;
                
                &:hover {
                    background-color: darken(#40bff5, 20%);
                }
            }
            
            a {
                display: block;
                width: 100%;
                height: 100%;
            }
        }
    }
}