.menu-sidebar {
    @include make-xs-column(3);
    
    h3 {
        font-weight: normal;
        margin: {
            bottom: 14px;
        }
    }
    
    > div {
        margin-bottom: 35px;
        
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.sidemenu {
    &:first-child {
        h3 {
            margin-top: 0;
        }
    }
    
    &.border-bottom {
        padding-bottom: 30px;
    }
    
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        
        li {
            line-height: 1;
            position: relative;
            margin: {
                bottom: 8px;
            }
            padding: {
                left: 17px;
            }

            &:before {
                content: '\2014';
                position: absolute;
                left: 0;
            }
            
            &:last-child {
                margin-bottom: 0;
            }
            
            &.active {
                a {
                    color: $gray-base;
                }
            }
            
            a {
                font-size: 12px / $font-size-base * 1em;
            }
            
            ul {
                margin: {
                    top: 5px;
                }
            }
        }
    }
}

.key-facts {
    .fact-item {
        margin: 20px 0;
        
        h4 {
            font-weight: bold;
            margin-bottom: 0;
        }
        
        p {
            font-size: 12px / $font-size-base * 1em;
            margin: 0;
            
            span {
                color: $gray-base;
            }
        }
    }
}