blockquote {
    background-color: $gray-light;
    position: relative;
    padding: 12px 17px;
    
    &.bottom {
        &:before {
            content: '';
            background-image: $sprite;
            background-position: -75px 0;
            display: block;
            position: absolute;
            width: 18px;
            height: 9px;
            top: -9px;
            left: 50%;
            margin: 0 0 0 -9px;
        }
    }
    
    &.top {
        @extend .bottom;
        &:before {
            background-position: -97px 0;
            top: auto;
            bottom: -9px;
        }
    }
    
    p {
        font-size: 10px / $font-size-base * 1em;
        font-style: italic;
        text-indent: 18px;
        position: relative;
        
        &:before {
            content: '“';
            color: $gray-base; 
            font-size: 30px;
            position: absolute;
            top: -9px;
            left: -19px;
        }
        
        &:after {
            content: '”';
            color: $gray-base; 
            font-size: 30px;
            position: absolute;
            right: 0;
            bottom: -19px;
        }
    }
}

