.pagination {
    margin: 40px 0 20px;
    
    ul {
        li {
            padding: 2px;
            
            &:first-child,
            &:last-child {
                span {
                    font-size: 10px;
                }
            }
            
            &:first-child {
                padding-right: 15px;
            }
            
            &:last-child {
                padding-left: 15px;
            }
            
            &.active {
                a {
                    color: $gray-base;
                    font-weight: bold;
                    text-decoration: none;
                }
            }
            
            &.disabled {
                cursor: default;
            }
            
            a {
                color: $gray;
                font-size: 13px / $font-size-base * 1em;
                text-decoration: underline;
                
                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
}