.main-content-inner {
    .primary-content {
        @include make-xs-column(6);
    }
    
    &.no-menusidebar {
        .menu-sidebar {
            display: none;
        }
        
        .primary-content {
            @include make-xs-column(9);
        }
    }
    
    &.no-utilitysidebar {
        .utility-sidebar {
            display: none;
        }
        
        .primary-content {
            @include make-xs-column(9);
        }
    }
    
    h1 {
        margin-bottom: 30px;
    }
}

.content-header {
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    height: 150px;
    padding: 30px;
    overflow: hidden;
    
    &:after {
        content: '';
        background-color: rgba(#000, 0.4);
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 0;
    }
    
    &.integration {
        background-image: url(../images/integrationheader.jpg);
    }
    
    &.success {
        background-image: url(../images/successbg.jpg);
    }
    
    &.career {
        background-image: url(../images/careerbg.jpg);
    }
    
    &.news {
        background-image: url(../images/newsbg.jpg);
    }
    
    h1 {
        color: $gray-lighter;
        position: relative;
        margin-top: 15px;
        z-index: 1;
    }
}

.disclaimer {
    position: relative;
    width: 460px;
    height: 95px;
    top: -35px;
    margin-bottom: -35px;
    padding: 30px;
    
    h2 {
        color: $gray-lighter;
        margin: 0;
    }
    
    .disclaimer-info {
        color: #eeaea0;
        
        p {
            position: relative;
            
            &:before {
                content: '';
                background-image: $sprite;
                display: block;
                position: absolute;
                @include square(10px);
                top: 50%;
                margin: -5px 0 0 0;
            }
        }
    }
    
    
    
    .place {
        padding-left: 15px;
        
        &:before {
            background-position: -204px -45px;
            left: 0;
        }
    }
    
    .time {
        &:before {
            background-position: -216px -45px;
            left: -15px;
        }
    }
}

.content-inner {
    h2 {
        margin: 40px 0 28px 0;
    }
}

.inner-columns {
    @include make-row();
    > div {
        @include make-xs-column(6);
        
        h3 {
            &:first-child {
                margin-top: 0;
            }
        }
    }
}

.additional-content {
    counter-reset: item;
    h3 {
        font-weight: normal;
    }
}

.additional-items {
    ul {
        list-style: none;
        
        li {
            line-height: 1;
            position: relative;
            margin: {
                bottom: 10px
            }
            padding: {
                left: 20px;
            }
            
            
            a {
                color: #6f7575;
                font-size: 13px / $font-size-base * 1em;

            }
        }
    }
}

.add-item {
    counter-increment: item;
            
    &:before {
        content: counter(item)'.';
        position: absolute;
        left: 0;
    }
}

.vacancy-list {
    @include make-row();
    margin-top: 40px;
    
    > div {
        @include make-xs-column(6);
        
        h2 {
            margin-top: 0;
        }
    }
    
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        
        li {
            margin-bottom: 7px;
            
            &:last-child {
                margin-bottom: 0;
            }
            
            &.disabled {
                .title {
                    a {
                        color: #f2c3b9;
                    }
                }
                
                .quantity {
                    color: #d6d7d7;
                }
            }
        }
    }
    
    .bycity {
        border-right: 1px solid $gray;
    }
    
    .bytype {
        margin-left: -1px;
        border-left: 1px solid $gray;
    }
}

p {
    &.time {
        color: $gray-base;
    }
    
    &.image {
        margin-bottom: 30px;
        
        img {
            display: block;
            margin-bottom: 17px;
        }
        span.image-title{
            font-size: 12px / $font-size-base * 1em;
            font-style: italic;
        }
    }
}