.font50 {
    font-size: 0.6em;
}
.font75 {
    font-size: 0.75em;
}
.font100 {
    font-size: 1em;
}
.font125 {
    font-size: 1.25em;
}
.font150 {
    font-size: 1.5em;
}
.font200 {
    font-size: 1.75em;
}

.tag-cloud {
    .tags {
        a {
            color: $gray;
        }
    }
}