.utility-sidebar {
    @include make-xs-column(3);
    > div {
        h3 {
            font-weight: normal;
        }
        
        &:first-child {
            h3 {
                margin-top: 0;
            }
        }
    }
    
    .contact-form {
        position: relative;
        
        &:before {
            content: '';
            background-image: $sprite;
            background-position: -75px 0;
            display: block;
            position: absolute;
            width: 18px;
            height: 9px;
            top: -9px;
            left: 50%;
            margin: 0 0 0 -9px;
        }
        
        form {
            background-color: $gray-light;
            padding: 18px 21px 20px;
            
            input{
                width: 100%;
            }
            
            textarea {
                width: 100%;
                height: 90px;
                resize: vertical;
            }
            
            button {
                width: 100%;
            }
        }
    }
    
    .job-apply {
        button {
            width: 100%;
        }
    }
    
    .dropdown {
        &.open {
            > .dropdown-menu {
                width: 100%;
            }
        }
        
        button {
            text-align: left;
            position: relative;
            width: 100%;
            
            span {
                color: $brand-danger;
                font-size: 10px;
                position: absolute;
                right: 10px;
                top: 50%;
                margin: -4px 0 0 0;
            }
        }
    }
}